@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
  box-sizing: border-box;
}

:root{
  --title-font-size : 14px;
  --para-font-size : 11px;
  --modal-color : #6c6edd;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: #FAFAFF;
}

h1,h2,h3,p{
  margin: 0;
}

#root{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard{
  height: 100vh;
  width: 100%;
}

/* Authentication pages styles */
.authform__container {
  padding: 24px 40px;
  width: 80%;
  max-width: 400px;
}
.authform__title {
  text-align: center;
}

.authform__input-field {
  width: 100%;
  padding: 8px 0;
}
.authform__input-field label {
  font-size: 14px;
  font-weight: 600;
  color: #2e3136;
}
.authform__input-field input {
  margin: 4px 0;
  padding: 10px 12px;
  width: 100%;
  display: block;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  border-radius: 4px;
  border: 1px solid #aaa;
}
.authform__btn {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
  background-color: #2663f3;
  color: #fff;
  border: none;
  outline: 0;
  border-radius: 4px;
  margin: 8px 0;
  cursor: pointer;
}
.authform__forgotpass {
  text-align: right;
}
.authform__forgotpass a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #3a26f3;
}
.authform__direct {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #2e3136;
  margin: 4px;
}
.authform__direct a {
  text-decoration: none;
  color: #3a26f3;
}
.authform__error {
  text-align: center;
  color: #f3266a;
  font-weight: 600;
}

/* Modal */
.body-blackout {
  position: fixed;
  z-index: 1010;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  display: none;
}
.body-blackout.is-blacked-out {
  display: block;
}
.popup-trigger {
  display: inline-block;
}
.popup-modal {
  width: 86%;
  max-width: 650px;
  background-color: #fff;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -120%);
  padding:44px;
  opacity: 0;
  pointer-events: none;
  border-radius: 12px;
  transition: all 300ms ease-in-out;
  z-index: 1011;
}
.popup-modal__container{
  max-height: 80vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.popup-modal__container::-webkit-scrollbar {
  display: none;
}
.popup-modal.is--visible {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%);
}
.popup-modal__close {
  position: absolute;
  font-size: 1.6rem;
  right: -16px;
  top: -16px;
  cursor: pointer;
  padding: 12px;
  color: #fff;
  background-color: var(--modal-color);
  border-radius: 50%;
}
.input__cotainer{
  padding: 8px;
  border: 1px solid var(--modal-color);
  border-radius: 8px;
  margin: 16px 8px;
}
.input-box{
  padding: 8px;
  border: none;
  outline: 0;
  font-size: 18px;
  width: 100%;
}
.img-input{
  padding: 4px;
}
.img-input::-webkit-file-upload-button{
  background-color: var(--modal-color);
  color: #fff;
  padding: 8px 12px;
  outline: 0;
  border: none;
  border-radius: 4px;
  margin-right: 8px;
  cursor: pointer;
}
.input__list{
  display: flex;
  flex-direction: column;
}
.list-item{
  margin: 4px 0;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f3f3ff;
  border-radius: 4px;
}
.list-item__title{
  flex-grow: 1;
}
.list-form{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px 0 8px;
}
.list-input{
  flex-grow: 1;
  border: none;
  background-color: #ececec;
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
}
.add-list-btn{
  margin-left: 8px;
  padding: 0.5rem 0.75rem;
  border: none;
  background-color: var(--modal-color);
  color: #fff;
  align-self: flex-end;
  border-radius: 4px;
  cursor: pointer;
}
.create-note-btn{
  margin: 0 8px;
  padding: 1rem 1.5rem;
  font-size: 18px;
  background-color: var(--modal-color);
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* progress bar styles */
.progress-bar{
  height: 5px;
  background: var(--modal-color);
  margin-top: 20px;
}


/* Navbar */
.header{
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,0.12);
}
.nav{
  height: 80px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.header__title{
  font-size: 24px;
  font-weight: 500;
  color: #141414;
}
.nav-right{
  display: flex;
  align-items: center;
}
.search-box{
  display: none;
  align-items: center;
  margin-right: 32px;
}
.search-box i{
  color: #BBB;
}
.search-box input{
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  padding-left: 6px;
  width: 240px;
}
.search-box input::-webkit-input-placeholder,
.search-box input::placeholder
{ 
  color: #BBBBBB;
  font-weight: 400;
}
.logoutBtn{
  font-weight: 600;
  padding: 0.75em 1.5em;
  border: none;
  background-color: #2663f3;
  color: #fff;
  border-radius: 100px;
  cursor: pointer;
}

/* Main Container */
.container{
  margin: 0px auto;
  padding: 50px 0;
  width: 80%;
  columns: 1;
  column-width: 240px;
  column-gap: 16px;
  row-gap: 16px;
}

/* Card Styles */
.card{
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 2px 24px -2px rgba(4, 33, 87, 0.12);
  border-radius: 24px;
  display: block;
  break-inside: avoid;
  margin: 0;
  margin-bottom: 24px;
  overflow: hidden;
}
.card__image{
  width: 100%;
  background-color: var(--modal-color);
  border-radius: 24px 24px 0 0;
  overflow: hidden;
}
.card__image .img{
  width: 100%;
  object-fit: cover;
  display: block;
}
.card__text{
  padding: 12px 18px;
}
.card__title{
  font-size: var(--title-font-size);
  font-weight: 600;
  color: #333333;
  margin-bottom: 4px;
}
.card__paragraph{
  font-size: var(--para-font-size);
  color: #888888;
}
.card__checklist{
  list-style: none;
  margin: 0;
  padding: 12px 18px 12px;
}
.card__checklist-item{
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}
.card__checklist-item span{
  font-size: var(--para-font-size);
  color: #636363;
  margin-left: 4px;
}

.card__checklist-item.completed span{
  color: #888888;
  text-decoration: line-through;
}

/* New Note Button */
.new-note{
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 100%;
  background-color: #141414;
  position: fixed;
  bottom: 72px;
  right: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 24px -2px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.new-note i {
  color: #fff;
}


@media screen and (min-width : 600px){
  .nav{
      width: 90%;
  }
  .container{
      width: 90%;
      columns: 2;
  }
  .search-box{
    display: flex;
  }
}

@media screen and (min-width : 800px){
  .nav{
      width: 80%;
  }
  .container{
      width: 80%;
      columns: 2;
      column-width: 300px;
      column-gap: 24px;
      row-gap: 24px;
  }
}

@media screen and (min-width : 1000px){
  .nav{
      width: 90%;
  }
  .container{
      width: 90%;
      columns: 3;
  }
}

@media screen and (min-width : 1200px){
  :root {
      --title-font-size : 16px;
      --para-font-size : 13px;
  }
  .nav{
      width: 86%;
  }
  .container{
      width: 86%;
      columns: 3;
  }
}


@media screen and (min-width : 1440px){
  .nav{
      width: 1400px;
  }
  .container{
      width: 1300px;
      columns: 4;
  }
}